HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.DS_Store

versions.properties

### Documentation ###
docs/site/
docs/.venv/
docs/.cache/

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles
*.iws
*.iml
*.ipr
out/
